body{
    justify-content: center;
    align-items: center;
    display: flex;
}
h1, h2 {
    text-align: center;
}
#first{
    color: #1E90FF	;
}
.content{
    text-align: center;
    text-align: justify;
    width: 80%;
    max-width: 600px;
}
p{
    text-indent: 30px;
}